.topbar {
  grid-column: 2;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
  border-bottom: 1px solid #e6e8ef;
  height: 56px;
}

/* Search */
.global-search {
  width: 280px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  background: #F8F9FA;
  border-radius: 8px;
  border: 1px solid #E9ECEF;
}

.global-search input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
}


.global-search  i.bx-search{
    font-size: 21px;
}

/* Brand */
.brand {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  gap: 6px;
}
.brand span {
  color: #6b7280;
}
.brand i {
  background: #1170CA;
  color: #fff;
  padding: 4px;
  border-radius: 6px;
}

.bg_blue{
    background: #1070CA;
    opacity: 1;
    padding: 5px;
    display: grid;
  place-items: center;
    border-radius: 5px;
}

/* Right actions */
.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.icon-btn {
 border: 1px solid #C8CCD2;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  background: #fff;
  font-size: 18px;
  cursor: pointer;
}
.primary.icon-btn {
  background: #1170CA;
  color: #fff;
  border: none;
}

/* User section */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("https://i.pravatar.cc/150?img=5"); /* Replace with real img */
  background-size: cover;
  background-position: center;
}
.user-name {
  font-size: 13px;
  font-weight: 600;
}
.user-role {
  font-size: 12px;
  color: #6b7280;
}

.vertical_divider {
    width: 2px;
    background: #C8CCD2;
    height: 32px;
}

.topbar .actions .icon-btn i.bx-plus{
    color: #fff;
}

.topbar .actions .icon-btn i{
    color: #656E7A;
}